*{
    user-select: none;
}
p{
    text-align: center;
}

.background{
    background: url(../assets/backgrounds/h_img.jpg) center;
    background-size: cover;
    min-height: 100vh;
    padding: 40px;
    text-align: center;;
}
/* .container .logo{
    position: relative;
    left: 50%;
} */
.description{
    position: relative;
    justify-content: center;
    top: 60px;
}
.description .logo{
    margin: auto;
    display: block;
    margin-bottom: 30px;
}
.container .header, .container .header-intro {
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
}

.container .abt-text, .row h2{
    text-align: center;
}
/* Services session */

.services{
    background: url(../assets/backgrounds/s_image.jpg) center;
    min-height: 300px;
    background-size: cover;
}
.services h2{
    color: white;
    position: relative;
    top: 100px;
    text-transform: uppercase;
}
.services p{
    color: white;
    position: relative;
    top: 100px;
}
/* What we do.. */
.work{
    text-align: center;
}
.row .card{
    border: none;
}
.row .color{
    color: black;
}

/* Portfolio */
.portfolio{
    text-align: center;
}
.portfolio-image{
    background-size: cover;
}

/* Contact Us */
.contact{
    background:url(../assets/backgrounds/s_image.jpg) center;
    background-size: cover;
    min-height: 400px;
}
.contact label{
    color: white;
}
.mouse-click{
    margin: auto;
    display: block;
    margin-top: 180px;
}
.row input, .row textarea{
    background: none;
    color: white;
}
.social-icons .row {
    display: flex;
    justify-content: center;
}

#outer{
    position: relative;
}
.log-showing {
    color: white;
    position: absolute;
    /* display: none; */
    padding: 0px;
  }
#cardbackground{
    background-color: white;
    opacity: .5;
    color: black;
    text-align: center;
    display: none;
}

/* what we do */
.icons img{
    width: 70px;
    margin: auto;
    padding-top: 20px;
}
.heading{
    padding-top: 20px;
}

/* cards portfolio */

.title{
    text-align: center;
    padding-top: 10px;
}

.wrap{
    /* margin: 60px ; */
    box-shadow: 3px 3px 10px 0px black;
    position: relative;
    margin-bottom: 15px;
}

.text{
    position: absolute;
    top: 5px;
    color: white;
    text-align: center;
    background-color: black;
    opacity: .4;
    color: white;
    /*  display: none; */

}
/* What we do toggle icons */
#content1{
    display: none;
}
#content2{
    display: none;
}
#content3{
    display: none;
}

@media (max-width:768px){
    .wrap{
        /* margin: 60px ; */
        box-shadow: 3px 3px 10px 0px black;
        position: relative;
        border-radius: 20px;
        margin: 20px;
    }
    
    .wrap img{
        border-radius: 20px;
    }
}












